:root {
    --border-radius: 0.5rem;
    --fingerprint-size: 3rem;
    --content-width: 14.5rem;
}

body {
    font-family: sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    margin: 0;
    font-size: 20px;
}

header {
    width: var(--content-width);
    font-size: 2rem;
    line-height: var(--fingerprint-size);
    padding: 0 var(--outer-left-margin);
    color: SteelBlue;
    font-family: cursive;
}

header:after {
    background: SteelBlue;
    color: white;
    width: var(--fingerprint-size);
    height: var(--fingerprint-size);
    content: url(../images/fingerprint_48px.svg);;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    position: absolute;
    right: 0;
}

section {
    width: var(--content-width);
    display: grid;
    grid-template-columns: auto var(--content-width) auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". headline .";
    border-bottom: 0.1rem solid lightgray;
}

section.show {
    display: grid;
    grid-template-columns: auto var(--content-width) auto;
    grid-template-rows: 1.5rem auto 1rem auto 2rem auto;
    grid-template-areas:
        ". . ."
        ". title ."
        ". . ."
        ". content ."
        ". . ."
        ". headline .";
}

section h1 {
    grid-area: headline;
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

section.show title, section.show article {
    display: inherit;
    cursor: none;
}

section title {
    grid-area: title;
    display: none;
    font-size: 1rem;
    font-weight: bold;
}

section article {
    grid-area: content;
    display: none;
    font-size: 1rem;
}

@media(min-width: 768px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5rem 25rem 25rem auto;
        grid-column-gap: 5rem;
        grid-row-gap: 1rem;
        height: auto
    }
    header {
        justify-self: center;
        align-self: end;
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
    }
    section, section.show {
        justify-self: center;
        height: 25rem;
        grid-template-rows: 1.5rem auto 1rem auto 2rem auto 1.5rem;
        grid-template-areas:
            ". . ."
            ". headline ."
            ". . ."
            ". title ."
            ". . ."
            ". content ."
            ". . .";
    }
    section:nth-child(odd) {
        justify-self: start;
    }
    section:nth-child(even) {
        justify-self: end;
    }
    section title, section article {
        display: inherit;
        cursor: none;
    }
}